// Customize some Bootstrap variables
$primary: darken(#428bca, 20%);
$screen: 50dvh; // Custom viewport height unit (or media query breakpoint)

// Import Bootstrap SCSS
@import "~bootstrap/scss/bootstrap";

// Base body styles
body {
    font-family: 'Arial', sans-serif;
    background-color: #b5bcc2;
}

// Main container styles
main {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 20px;

    
    @media (max-width: $screen) {
        flex-direction: column; 
    }
}
